<% include templates/header.ejs %>

<h2 class="text-primary">Recently on the Timeline:</h2>

<ul>
    <% myData.forEach((item) =>{ %>
        <hr>
        <li><%= item.title %></li>
        <img src="<%= item.image%>" style="width: 50px"/>
        <li><p>Just some random posts for testing the ejs view engine.</p> </li>
        <hr>
        
    <% }); %>   
</ul>

<% include templates/footer.ejs %>